-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "patrimoni";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Rol" AS ENUM ('ADMIN', 'EDITOR', 'CONSULTOR');

-- CreateTable
CREATE TABLE "patrimoni"."actius" (
    "id" SERIAL NOT NULL,
    "guid" TEXT NOT NULL,
    "tipus" TEXT NOT NULL,
    "subtipus" TEXT,
    "edifici" TEXT,
    "planta" TEXT,
    "zona" TEXT,
    "ubicacio" TEXT,

    CONSTRAINT "actius_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patrimoni"."ifcbuilding" (
    "guid" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "codi" TEXT NOT NULL,
    "color" TEXT,

    CONSTRAINT "ifcbuilding_pkey" PRIMARY KEY ("guid")
);

-- CreateTable
CREATE TABLE "patrimoni"."ifcdoor" (
    "actiu_id" INTEGER NOT NULL,
    "from_room" TEXT,
    "to_room" TEXT,

    CONSTRAINT "ifcdoor_pkey" PRIMARY KEY ("actiu_id")
);

-- CreateTable
CREATE TABLE "patrimoni"."ifcdoor_fire" (
    "ifcdoor_id" INTEGER NOT NULL,
    "numero" TEXT,

    CONSTRAINT "ifcdoor_fire_pkey" PRIMARY KEY ("ifcdoor_id")
);

-- CreateTable
CREATE TABLE "patrimoni"."ifcspace" (
    "guid" TEXT NOT NULL,
    "codi" TEXT,
    "dispositiu" TEXT NOT NULL,
    "edifici" TEXT NOT NULL,
    "planta" TEXT NOT NULL,
    "departament" TEXT NOT NULL,
    "id" TEXT NOT NULL,
    "centre_cost" TEXT NOT NULL,
    "area" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "ifcspace_pkey" PRIMARY KEY ("guid")
);

-- CreateTable
CREATE TABLE "public"."Usuario" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "rol" "public"."Rol" NOT NULL DEFAULT 'CONSULTOR',

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "actius_guid_key" ON "patrimoni"."actius"("guid" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "public"."Usuario"("email" ASC);

-- AddForeignKey
ALTER TABLE "patrimoni"."ifcdoor" ADD CONSTRAINT "ifcdoor_actiu_id_fkey" FOREIGN KEY ("actiu_id") REFERENCES "patrimoni"."actius"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "patrimoni"."ifcdoor_fire" ADD CONSTRAINT "ifcdoor_fire_ifcdoor_id_fkey" FOREIGN KEY ("ifcdoor_id") REFERENCES "patrimoni"."ifcdoor"("actiu_id") ON DELETE CASCADE ON UPDATE CASCADE;

